<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="todoTitle"><%= todo.title %></title>
</head>
<body>

  <div id="todo">
    <%- include('_todo') %>
  </div>

  <hr>

  <a href="/">Zpět na seznam</a>
  <script>
    const ws = new WebSocket('ws://localhost:3000')

    ws.addEventListener('message', (ev) => {
      const data = JSON.parse(ev.data)

      // Get the current URL, Split the URL by '/' and get the last part
      const parts = window.location.href.split('/');      
      const id = parts[parts.length - 1];
      console.log(id, data.id, typeof id, typeof data.id)
      if (id === data.id && data.type === 'todo') {
        console.log(data)
        const todoTitle = document.getElementById('todoTitle')
        todoTitle.innerText = data.title
        const todo = document.getElementById('todo')
        todo.innerHTML = data.html
      }
    })
  </script>
</body>
</html>
